
@model RequestLeaveDetails
@{
        ViewData["Title"]="LeaveDetails";
        Layout="../shared/IndexPagelayout";
}


 
<div class="card">
  <h5 class="card-header">EmployeeID</h5>
  <div class="card-body">
    <form method="post">
         <div class="form-outline mb-4">
                    <input type="text" id="form2Example22" class="form-control" asp-for="UserID"/>
                    <label class="form-label" for="form2Example22"  asp-for="UserID"></label>
       
         </div>            
    
          <p class="mb-0" style="color:red">@ViewBag.Message</p>        
          <div>    
                 <button type="Submit" name="Submit"  id="btnSave">Submit</button> 
                  
               
          </div>           
                
                    
           </form>
        
 
  </div>
</div>
   
