
@model RequestLeaveDetails
@{
    ViewData["Title"]="RequestLeave";
    Layout="../shared/IndexPagelayout";
}


<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-xl-12">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  
                  
               
      
     
               <form method = "Post">
        
                  <h5 align="center">APPLY LEAVE </h5>
                  <div class="form-outline mb-4">
                    <input type ="text" id="form2Example11" class="form-control" asp-for="UserName" />
                    <label class="form-label fw-bold" for="form2Example11"  asp-for="UserName" UserName>USERNAME</label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example22" class="form-control" asp-for="UserID"/>
                    <label class="form-label fw-bold" for="form2Example22"  asp-for="UserID" UserID>USERID</label>
                    <span asp-validation-for="UserID" class="text-danger"></span>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="date" id="form2Example22" class="form-control" asp-for="StartDate" />
                    <label class="form-label fw-bold" for="form2Example22"  asp-for="StartDate" StartDate>STARTDATE</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="date" id="form2Example22" class="form-control" asp-for="EndDate" />
                    <label class="form-label fw-bold" for="form2Example22"  asp-for="EndDate" EndDate>ENDDATE</label>
                  </div>
                  <div class="form-outline mb-4">
                    <p>
                    <label class="form-label fw-bold" for="form2Example22"  asp-for=" LeaveType"  LeaveType>LEAVE TYPE</label>
                           <select asp-for="LeaveType" >
                            <option value="Privileged Leave">PRIVILEGED LEAVE</option>
                            <option value="Compensatory Leave">COMPENSATORY LEAVE</option>
                            <option value="Maternity Leave">MATERNITY LEAVE</option>
                            <option value="Paternity Leave">PATERNITY LEAVE</option>
                            <option value="LOP Leave">LOP LEAVE</option>
                            <option value="Carry Forward">CARRY FORWARD</option>
                            <option value="Encashed Days">ENCASHED DAYS</option>
                             <option value="Marriage Leave">MARRIAGE LEAVE</option>
                              <option value="MTP Leave">MTP LEAVE</option>
                            </select>
                            </p>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example22" class="form-control" asp-for="Email" />
                    <label class="form-label fw-bold" for="form2Example22"  asp-for="Email" Email>EMAIL</label>
                  </div>
                <div class="form-outline">
                       <textarea class="form-control" id="textAreaExample" rows="4" asp-for="Description" ></textarea>
                       <label class="form-label fw-bold" for="textAreaExample" asp-for="Description" Description>MESSAGE</label>
                </div>
<p class="mb-0" style="color:red">@ViewBag.Message1</p>

     @using (Html.BeginForm("RequestLeave", "My_Leave", FormMethod.Post))
                {
                <div class="d-grid gap-2"> 
                <td><input  class="btn btn-primary" type="submit" id="btnSave" name="Submit" value="Apply" /><br></td>
                </div>
                }
          <div class="d-grid gap-2">  
          <td><input class="btn btn-primary"  type="submit" id="btnCancel" value="Cancel"/></td>
          </div>
              
</form>
 </div>
        
      </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>