@model Details
<form method="post">
    @Html.EditorForModel()
    <button type="submit">Submit</button>

</form>
 @section Scripts
                      {
                        @{
                          <partial name="_ValidationScriptsPartial"/>
                        }
                      }