@model data

@{
    ViewData["Title"] = "Home Page";
}


<form method="post">

@Html.EditorForModel()
<button type="submit">Submit</button>
</form>
                   @section Scripts
                      {
                        @{
                          <partial name="_ValidationScriptsPartial"/>
                        }
                      }




