@{
    ViewData["Title"] = "Home Page";
    Layout="../shared/IndexPagelayout";
   
}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="row">
  <div class="col-sm-6">
    <div class="card h-100 ">
      <div class="card-body text-dark" height="200px">
        <h5 class="card-header"><b>You Can:</b></h5>
       <ul>
          <li>Apply For Leave</li>
          <li>Check the status of your leave request</li>
          <li>View Details of leaves that you have taken so far</li>
          <li>Availability of leaves</li>
       </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card h-100">
      <div class="card-body text-dark" style="color: rgb(27, 27, 27); ">
        <h5 class="card-header"><b>A manager can:</b></h5>
       <ul>
        <li>View the team's leave details</li>
        <li>Approve/Reject leave request of team</li>
        <li>Send_Common_Mail</li>
       </ul>
      </div>
    </div>
  </div>
</div>
